/* universal selector  ( * )
   این انتخاب‌گر به تمام عناصر صفحه HTML اعمال می‌شود
   مثلاً در اینجا همه‌ی عناصر رنگ متن‌شان سفید می‌شود */
* {
  color: white;
}

/* element selector   (div / p / h1-6 / body)
   این نوع انتخاب‌گر برای انتخاب تگ‌های خاص HTML استفاده می‌شود */

p {
  background-color: red; /* رنگ پس‌زمینه قرمز برای پاراگراف‌ها */
  color: white;          /* رنگ متن سفید */
}

h1,
h2,
h3 {
  color: black;              /* رنگ متن مشکی برای عنوان‌ها */
  background-color: aqua;    /* پس‌زمینه آبی روشن */
}

/* class selector  ( .nameClass )
   برای انتخاب عناصر با کلاس خاص استفاده می‌شود.
   کلاس‌ها را می‌توان روی چند عنصر مختلف استفاده کرد. */

.big_text {
  font-size: 20px;      /* اندازه‌ی متن بزرگ‌تر */
  font-style: italic;   /* متن به صورت مورب */
}

.farsi_text {
  direction: rtl;       /* جهت نوشتار راست‌به‌چپ (برای زبان فارسی و عربی) */
}

/* id selector   ( #nameId )
   برای انتخاب یک عنصر با شناسه (id) خاص استفاده می‌شود.
   هر id باید یکتا (unique) باشد و فقط یک بار در صفحه استفاده شود. */

#footer_text {
  color: green;         /* رنگ متن سبز */
}
