.container {
	margin: 20px 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-around;
}

.container div {
	height: 100px;
	width: 100px;
	border: solid 2px black;
}

.d1 {
	background-color: aqua;
	height: auto;
	width: auto;
	flex-basis: 50px;
	order: 5;
}

.d2 {
	background-color: red;
	flex-grow: 0;
}

.d3 {
	background-color: yellow;
	align-self: flex-end;
}

.d4 {
	background-color: pink;
	flex-shrink: 0;
}

.d5 {
	background-color: blue;
	order: 1;
}

.d6 {
	background-color: green;
	flex-grow: 2;
}
