p {
	color: black;
	text-shadow: 2px 2px 2px rgba(1, 1, 1, 10%);
	line-height-step: 20px;
	direction: ltr;
	text-align: center;
	/* text-decoration: underline red wavy 1px; */
	/* text-decoration: line-through; */
	text-decoration: double;
	/* text-transform: capitalize; */
	/* text-transform: lowercase; */
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-indent: 20px;
}
